
.card_container
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    height: 390px;
    background: url("../img/icon.png");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card_header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100px;
    -ms-align-items: center;
    align-items: center;
    width: 1100px;
    color: #ffffff;
}
.card_header .menu {
    width: 83%;
}
.card_header .menu ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    align-items: center;
}
.card_header .menu-link{

    text-decoration: none;
    -ms-align-items: center;
}

.card_header .menu .button{
    border: 1px solid #fff;
    padding: 18px 20px;
    border-radius: 7px;
    margin-left: 20px;
}
.card_section_1 {
    display: flex;
    align-items: flex-start;
    width: 940px;
    height: 284px;
    justify-content: space-between;
    color: #fff;
    margin: 0 auto;
}
.card_left_block_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card_right_img{
    position: relative;
    top: 90px;
}
.card_section_1 .but {
    height: 54px;
    width: 200px;
    font-size: 16px;
    background-color: #FFC88E;
    border: none;
    border-radius: 7px;
    color: #454545;
}
.card_container_mod{
    background-image: none;
    height: auto;
    flex-direction: column;
    margin-top: 70px;
}
.card_section_2{
    position: relative;
    width: 88%;
    padding-top: 20px;
}


.card_inline_block {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.card_inline_block .width-468
{
    width: 468px;
}
.card_inline_block .card_num {

    font-size: 85px;
    margin-left: 20px;
    margin-right: 7px;
    color: #A6A6A6;
}
.card_icon_cmc_img{
    height: 100px;
    width: 100px;
    background: url("../img/card_icon_cmc.png");
    background-size: cover;
}
.card_icon_lamp_img{
    height: 100px;
    width: 100px;
    background: url("../img/card_icon_lamp.png");
    background-size: cover;
}
.card_icon_5000_img{
    height: 100px;
    width: 100px;
    background: url("../img/card_icon_5000.png");
    background-size: cover;
}
.card_icon_coupon_img{
    height: 100px;
    width: 100px;
    background: url("../img/card_icon_coupon.png");
    background-size: cover;
}
.card_inline_block b {
    display: contents;
}
.card_inline_block .s{
    font-size: 20px;
}
.card_inline_block p {
    display: inline-flex;
    align-items: center;
    font-size: 21px;
    margin-right: 35px;
    line-height: 24px;
}

.card_inline_block img {
    width: 180px;
}
.card_indent_1 {
    background-image: none;
    padding-top: 45px;
    height: 250px;
}
.card_section_3{
    width: 100%;
    height: 200px;
    background-image: url("../img/rectangle.png");
    display: flex;
    justify-content: space-around;
    background-size: auto;
    background-position: center, center;
    background-repeat: no-repeat;
    color: #fff;
}
.card_section_3 .di.di2 {
    display: flex;
}
.card_section_3 .enlarge {
    width: 30%;
    font-size: 3vw;
}

.card_section_3 .enlarge h1{
    line-height: 30px;
}
.card_section_3 .enlarge p{
    font-size: 18px;
    margin-bottom: 28px;
}
.card_section_3 .di2 h1{

    margin-bottom: 0;
    font-size: 85px;
}
.card_section_3 .di2 p{
    margin: 0;
}
.card_section_3 .di2 li{
    text-align: center;
}
.card_section_3 .di.di2 {
    display: flex;
}
.card_section_3 ul {
    padding: 0;
    margin-right: 49px;
}
.card_section_3 ul li {
    display: inline-block;
    padding-left: 10px;
}
.card_section_3 img{
    margin-bottom: 0px;
}
.card_indent_2{
    background-image: none;
    height: auto;
}
.card_section_4 {
    display: flex;
    width: 100%;
    margin-top: 0px;
}
.card_section_4 .service{
    flex: 1;
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    width: calc(50% - 160px);
}
.card_section_4 .remont_input_{
    flex: 1;
}
.card_section_4 .service button{
    text-transform: uppercase;
    color: #fff;
    background-color: #03A4DF;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
}
.card_section_4 .service h1 {
    font-size: 44px;
}
.card_section_4 .service p {
    font-size: 17px;
    width: 78%;
}
.card_section_4 .service span {
    color: #009AD2;
}
.card_section_4 .service h2 {
    font-size: 18px;
    margin-top: 33px;
}
.card_section_4 .service ul {
    list-style: none;
    padding: 0px;
}
.card_section_4 .service ul li {
    background-image: url("../img/ellipseblue.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    background-size: 8px;
    background-position-y: center;
    margin-bottom: 3px;
}
/*form*/
.card_section_5 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 25px;
    background-color: #FFD0B4;
    width: calc(50% - 160px);
    position: relative;
}
.card_white {
    color: #fff;
    background-color: #F35A01;
    width: 102px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
}
.card_section_5 .font_Arial-regular {
    font-size: 30px;
}
.card_section_5 .m-t-15 span {
    font-size: 18px;
    line-height: 34px;
}

.card_section_5 .remont_input_input {
    height: 40px;
    font-size: 18px;
    width: calc(100% - 16px);
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}

.remont_input_input.a{
    background-image: url("../img/person.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 2px;
}
.remont_input_input.b{
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 2px;
}
.card_section_5 .remont_input_input.d {
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 11px;
    width: 84%;
    background-color: #FFD0B4;
    color: #676565;
}
.card_section_5 input.check{
    width: 15px;
    height: 15px;

}
.card_section_5 .flex-row {
    display: flex;
    color: #676565;
}

/*tablet*/

.card_header .menu-but{
    border: 1px solid #fff;
    padding: 18px 20px;
    border-radius: 7px;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}
.header .aut_buttons {
    height: 55px;
    background: transparent;
    border: navajowhite;
}
.top_links{
    display: none;
    height: 0px;
}
.top_links ul {
    list-style: none;
    padding: 0;
    background-color: #009AD2;
    border: 1px solid #fff;
    z-index: 1;
    transition: all .5s;
    margin-right: 9px;
}
.top_links ul li {
    padding: 4px;
}
.tablet .card_header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100px;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
}
.tablet .card_section_1 {
    display: flex;
    align-items: flex-start;
    width: 88%;
    height: 284px;
    justify-content: space-between;
    color: #fff;
}
.tablet_header_img{
    width: 38%;
}
.card_left_block_tablet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    z-index: 10;
}
.card_right_img_tablet{
    position: absolute;
    top: 250px;
    right: 30px;
    z-index: 2;
}
/* тут просто переименованные и немного видоизмененные стили формы 4 под планшет*/
.card_section_tablet_4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card_section_tablet_4 .service{
    flex: 1;
    padding-top: 25px;
}
.card_section_tablet_4 .remont_input_{
    flex: 1;
}
.card_section_tablet_4 .service button{
    text-transform: uppercase;
    color: #fff;
    background-color: #03A4DF;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
}
.card_section_tablet_4 .service h1 {
    font-size: 44px;
}
.card_section_tablet_4 .service p {
    font-size: 17px;
    width: 78%;
}
.card_section_tablet_4.service span {
    color: #009AD2;
}
.card_section_tablet_4 .service h2 {
    font-size: 18px;

}
.card_section_tablet_4 .service ul {
    list-style: none;
    padding: 0px;
}
.card_section_tablet_4 .service ul li {
    background-image: url("../img/ellipseblue.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    background-size: 8px;
    background-position-y: center;
    margin-bottom: 3px;
}
/* тут просто переименованные стили 5 формы под планшет*/
.card_section_tablet_5 {
    padding-top: 25px;
    background-color: #FFD0B4;
    width: 100%;
    position: relative;
    margin-top: 60px;
}
.card_section_tablet_5 .font_Arial-regular {
    font-size: 44px;
    margin-top: 37px;
}
.card_section_tablet_5 .m-t-15 span {
    font-size: 18px;
    line-height: 34px;
}

.card_section_tablet_5 .remont_input_input {
    height: 40px;
    font-size: 18px;
    width: calc(100% - 16px);
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}
.card_section_tablet_5 .remont_input_input.d {
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 11px;
    width: 100%;
    background-color: #FFD0B4;
    color: #676565;
}
.card_section_tablet_5 input.check{
    margin-right: 6px;
}
.card_section_tablet_5 .flex-row {
    display: flex;
    color: #676565;
}
.card_banner_number{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.card_banner_number .circle_white{
   margin-top: calc(100% - 450px);
}
.card_banner_number > div{
   text-align: center;
}

@media (max-width: 1129px){
    .card_banner_number .circle_white {
        margin-top: calc(100% - 355px);
    }
    .card_banner_number{
        margin-top: 45px;
    }
}