#index_slider {
    height: 420px;
    box-sizing: border-box;
}

.index_slider_head {
    height: 420px;
    background: url("../img/3.png") center right;
}

.index_slider_head_li {
    width: 370px;
}

.index_slider_head_li-margin {

}

#index_menu-ajax {
    height: 195px;
    box-sizing: border-box;

}

#index_menu-ajax .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#index_tab {
    height: 410px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.index_index_bg {
    background: url("../img/remont_remont.png") center left;
    background-size: cover;
    height: 410px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding-left: 50%;
    padding-top: 30px;
}

#index_better {
    height: 550px;
    box-sizing: border-box;
    margin: 450px 0 20px 0;

}

.index_better-1 {
    background: url("../img/remont-better-1.png") center left;
    background-size: cover;
    height: 100%;
}

/*#index_input{
    height: 500px;
    margin: 0 0 20px 0;
    box-sizing: border-box;

}
.index_input{
    width: calc(50% - 80px);
    height: 100%;
    background: #FFD4BB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 80px;
}
.index_input input{
    width: 380px;
    height: 50px;
}
.index_input_input{
    border: none;
}
.index_sticker-orange{
    background: #F36613;
    width: 125px;
    height: 30px;
    font-family: 'Arial', sans-serif;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index_sticker-blue{
    background: #19A1E8;
    width: 125px;
    height: 30px;
    font-family: 'Arial', sans-serif;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
#index_gallery {
    height: 680px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

#index_video-rewiews {
    height: 350px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.video-rewiews_container {
    height: 200px;
    width: 310px;
}

.video-rewiews_container_bg1 {
    background: url("../img/video-rewiews_container_bg1.png") center;
    background-size: cover;
}

#index_video-rewiews div {
    text-align: center;
}

.video-rewiews_sticker {
    background: #F36613;
    width: 125px;
    height: 30px;
    font-size: 10px;
    font-family: 'Arial', sans-serif;
    text-align: left !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.play {
    background: url("../img/play.png") center;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
    top: -105px;
    left: 130px;
}

.logo_mini {
    background: url("../img/logo-mini.png") center;
    background-size: cover;
    width: 47px;
    height: 15px;
    position: relative;
    z-index: 2;
    top: -220px;
    left: 250px;
}

#index_problems {
    height: 1030px;
    box-sizing: border-box;
}

.main-card {
    width: 645px;

    height: 310px;
    background: #fff;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    position: relative;

}

.main-card_bg {
    height: 165px;
    background: url("../img/main-card.png") center;
    background-size: cover;
}

.main-card_sticker {
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #24B0E3;

}

.second-card {
    width: 645px;
    height: 145px;
    background: #fff;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    position: relative;

}

.third-card {
    width: 315px;
    height: 145px;
    background: #fff;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    position: relative;
}

.problems_ajax {
    position: absolute;
    bottom: 15px;
    right: 60px;
    cursor: pointer;
}

.problems_ajax_mini {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;

}

.production-company {
    width: 230px;
    height: 305px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #E2E2E2;
}

.production-company_1 {
    height: 165px;
    width: 100%;
    background: url("../img/production-company_1.png") center;
    background-size: cover;
}

.production-company_2 {
    height: 165px;
    width: 100%;
    background: url("../img/production-company_2.png") center;
    background-size: cover;
}

.production-company_3 {
    height: 165px;
    width: 100%;
    background: url("../img/production-company_3.png") center;
    background-size: cover;
}

.production-company_4 {
    height: 165px;
    width: 100%;
    background: url("../img/production-company_4.png") center;
    background-size: cover;
}

#index_form {
    height: 160px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.index_form {
    background: url("../img/remont_form.png") center left;
}

.ajax-menu_container {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ajax-menu_container-desktop {
    border: 1px solid #D1D1D1;
    font-size: 17px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #7D7D7D;
    margin: 15px 0 0 0;
}

.ajax-menu_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 100%;

}

.ajax_banner {

}

#index_ajax_1-bg {
    background: url("../img/banner-ajax-remont1.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_2-bg {
    background: url("../img/banner-ajax-remont-2.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_3-bg {
    background: url("../img/banner-ajax-remont-3.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_4-bg {
    background: url("../img/banner-ajax-remont-4.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_5-bg {
    background: url("../img/banner-ajax-remont-5.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_6-bg {
    background: url("../img/banner-ajax-remont-6.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_7-bg {
    background: url("../img/banner-ajax-remont-7.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_8-bg {
    background: url("../img/banner-ajax-remont-8.png") center right;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_9-bg {
    background: #EAEAEA url("../img/banner-ajax-remont-9.png") no-repeat 600px center;
    background-size: 40%;
    height: 380px;
    width: calc(100% - 80px);
    padding-left: 80px;
    padding-top: 30px;
}

#index_ajax_2 {
    display: none;
}

#index_ajax_3 {
    display: none;
}

.winter_sticker {
    width: 180px;
    height: 30px;
    background: #FFD4BB;
    display: flex;
    align-items: center;
    justify-content: center;
}
#index_ajax_summer{
    display: none;
    background: #EAEAEA url(../img/summer.png) 50px center no-repeat;
    background-size: contain;
    height: 410px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding-left: 50%;
    padding-top: 30px;
}
#index_ajax_winter{
    background: #EAEAEA url(../img/winter.png) 50px center  no-repeat;
    background-size: contain;
    height: 410px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding-left: 50%;
    padding-top: 30px;
}

#index_ajax_4 {
    display: none;
}

#index_ajax_5 {
    display: none;
}

#index_ajax_6 {
    display: none;
}

#index_ajax_7 {
    display: none;
}

#index_ajax_8 {
    display: none;
}

#index_ajax_9 {
    display: none;
}
